<!DOCTYPE html>
<html>

<head>
  <title>Quote Page</title>
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Quotes4Us</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <form id = "quoteForm" method="POST" action="/quote" >
    <label for="estimated-time">Estimated Time (in hours):</label>
    <input type="number" id="estimated-time" name="estimatedTime" min="1" max="10000" required>
    <label for="hourly-rate">Worker:</label>
    <select id="hourly-rate" name="hourlyRate" required>
      <option value="10">Junior</option>
      <option value="20">Standard</option>
      <option value="30">Senior</option>
    </select>
    <input type="submit" value="Get Quote">
  </form>
  <div id="quote">Quote: £<%= quote %></div>

  </div>
</body>

</html>
